.card {
    display: inline-block;
    width: 3.3em;
    height: 4.6em;
    border: 1px solid #666;
    border-radius: .3em;
    -moz-border-radius: .3em;
    -webkit-border-radius: .3em;
    -khtml-border-radius: .3em;
    padding: .25em;
    margin: 0 .5em .5em 0;
    text-align: center;
    font-size: 1.2em; /* @change: adjust this value to make bigger or smaller cards */
    font-weight: normal;
    font-family: Arial, sans-serif;
    position: relative;
    background-color: #fff;
    -moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
}

a.card {
    text-decoration: none;
}

/* selected and hover state */
.card:hover, card:active, card:focus,
strong .card {
    box-shadow: 0px 0px 0.7em 0.1em lightskyblue;
}

/* selected and hover state */
.card.hand:hover, card:active, card:focus,
strong .card.hand {
    box-shadow: 0px 0px 0.4em 0em rgb(255, 239, 92);
    bottom: 3.9em;
    transform: scale(2.5);
    z-index: 50;
}

.card.back {
    background-color: #ccc;
    background-repeat: repeat;
    background-image: -webkit-gradient(radial, center center, 20, center center, 80, from(#3c3), color-stop(0.4, #363), to(#030));
    display: flex;
    align-items: center;
    justify-content: center;
}

.deck {
    cursor:pointer;
}